<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

  <title>ToDo Demo App</title>
</head>
<body>
<div th:replace="header.html" :: header></div>

<div layout:fragment="content"></div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
<script th:src="@{webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>